* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

.App {
  background-color: black;
}

body {
  height: 100%;
  background-color: black;
  color: white;
}
